<!doctype html>
<html lang="{{ app()->getLocale() }}" xmlns:height="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CryptoBuy</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/HeaderVideo.css">
        
    </head>

    <body>

      <!--  <div class="flex-center position-ref full-height">
            @if (Route::has('login'))
                <div class="top-right links">
                    @auth
                        <a href="{{ url('/home') }}">Home</a>
                    @else
                        <a href="{{ route('login') }}">Iniciar</a>
                        <a href="{{ route('register') }}">Registrarse</a>
                    @endauth
                </div>
            @endif
        </div> -->

        <video poster="https://static.iris.net.co/dinero/upload/images/2017/6/6/246212_1.jpg" playsinline autoplay muted loop>
            <source src="media/BitcoinShort.mp4">
        </video>

        <header>
            <div class="row">

                <div class="col-md-2">
                    <img src="media/cryptoBuyLogoWhite.png" style="height:150px"/>
                </div>

                <div class="col-md-8" style="padding-top: 30px">
                    <h1 >CRYPTOBUY</h1>
                    <nav>
                         <a href="#">Comprar</a>
                         <a href="#middle">Acerca de Nosotros</a>
                         <a href="#">Soporte</a>
                         <a href="#">Vender</a>
                         <a href="onclick=moveTo(0,300);">Advertencia</a>
                      <!-- @if (Route::has('login'))

                            @auth
                                <a href="{{ url('/home') }}">Home</a>
                                @else
                                    <a href="{{ route('login') }}">Iniciar</a>
                                    <a href="{{ route('register') }}">Registrarse</a>
                            @endauth

                        @endif -->
                    </nav>
                 </div>

                <div  class="col-md-2" style="padding-top: 100px">

                </div>
            </div>
        </header>

        <div id="fashion">
            <h2>COMPRA BTC, LTC, XRP, ETH, ZEC. </h2>
            <a hre=""> COMPRAR</a>
        </div>

        <div class="content" id="middle">
            <div class="row">
                <div style="text-align: left" class="col-md-12"><h1>Crypto Buy</h1>
                     Es un Emprendimiento que busca desarrollar y comercializar las Tecnologías Blockchain.
                     La iniciativa nace en Colombia con la intención de que cualquier tipo de persona pueda obetener bitocins u otra moneda directamente a su wallet.
                </div>

                <div class="col-md-8" style="padding-top: 20px">
                   Cryptobuy tiene 3 líneas de negocio claramente definidas:
                   ​<br>
                    Comercialización de las criptomonedas.<br>
                    Desarrollo de las Tecnologías Blockchain.<br>
                    Comercialización de las Tecnologías Blockchain.<br>
                    Divulgación de las Tecnologías Blockchain.
                </div>

                <div class="col-md-4" >
                    <img src="media/giphy.gif">
                </div>

                <div class="col-md-12">
                    <h1>Precio Del Bitcoin en tiempo real</h1>
                </div>

                <div class="col-md-2" style="padding-bottom: 20px">
                </div>

                <div class="col-md-8">
                    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>
                </div>

                <div class="col-md-2"></div>

                </div>


            </div>
        </div>

        <div class="contentmiddle">
            <h1 style="text-align: center;color: red">Atención!</h1>
            <p class="font_7" style="text-align:justify;">Por favor&nbsp;<span style="font-weight:bold;">EVITE SER&nbsp;VÍCTIMA&nbsp;DE UNA ESTAFA</span>, únicamente hacer negociaciones directamente&nbsp;mediante los teléfonos y correo electrónico que se encuentran al final de la página.&nbsp;No&nbsp;hacemos ningún tipo de negociación en&nbsp;redes sociales, foros, ni chat tipo ICQ &nbsp;o similar.</p>



            <p class="font_7" style="text-align:justify;">NO&nbsp;tenemos Representantes&nbsp;NI&nbsp;Intermediarios de ningún tipo.</p>



            <p class="font_7" style="text-align:justify;"><span style="font-weight:bold;">Bitcoin Suramérica SAS </span>NO&nbsp;asume ninguna responsabilidad&nbsp;sobre negocios hechos con terceros en nombre de la Empresa o por negociaciones realizadas fuera de los canales oficiales de venta nombrados.</p>



            <p class="font_7" style="text-align:justify;"><span style="font-weight:bold;">Bitcoin Suramérica SAS</span>&nbsp;NO vende ni venderá Bitcoins que se deseen destinar para fines ilícitos o ilegales.&nbsp;Por favor abstenerse de contactarnos para actividades ilegales o ilícitas. En caso de sospecha de actividades ilegales o ilícitas, <span style="font-weight:bold;">Bitcoin Suramérica</span> tiene el derecho y la obligación de comunicarse inmediatamente con las&nbsp;autoridades competentes y alertar sobre dichas actividades.</p>



            <p class="font_7" style="text-align:justify;"><span style="font-weight:bold;">Bitcoin Suramérica SAS</span> es reportante voluntario de delitos financieros ante la Unidad de Información y Análisis Finanaciero de Colombia - <span style="font-weight:bold;">UIAF.</span></p>



            <p class="font_7" style="text-align:justify;">El Bitcoin y las demás Criptomonedas no tienen ningún respaldo del Banco de la República ni de ningún otro banco central.</p>



            <p class="font_7" style="text-align:justify;">El trading debe ser considerado como una&nbsp;actividad de alto riesgo, los precios del Bitcoin son volátiles y pueden variar enormemente en cualquier momento.</p>



            <p class="font_7" style="text-align:justify;">Por favor use su juicio extremo cuando tome la decisión de invertir, comprar o vender Bitcoins.</p>



            <p class="font_7" style="text-align:justify;"><span style="font-weight:bold;">Bitcoin Suramérica SAS</span>&nbsp;NO&nbsp;solicita ni acepta dinero de usuarios para comprar o vender Bitcoins como una inversión o con fines de lucro en nombre de terceros,&nbsp;sólo se limita a la comercialización de los mismos.</p>



            <p class="font_7" style="text-align:justify;">Evite ser víctima de ofertas de negocios en <span style="color: #eef324;">esquemas piramidales</span> disfrazadas detrás de inversión en Bitcoin, Minería de Bitcoin y Trading de Criptomonedas. Son claros esquemas de <span style="color: #eef324;">captación ilegal</span> de fondos y <span style="color: #eef324;">esquemas Ponzi</span>. Puede perder sus fondos.&nbsp;Denuncie en la Fiscalía.</p>



            <p class="font_7" style="text-align:justify;"><span style="font-weight:bold;">Bitcoin Suramérica SAS</span> NO tiene ninguna relación ni participa de ninguna forma en los modelos de&nbsp;multinivel y captación que ofrecen rentabilidad por inversiones, ayudas y membresias&nbsp;en Bitcoin, Minería de Bitcoin y Trading de Criptomonedas. Ejemplo: <span style="color: #eef324;">Merlyn, eCoin, CoinPayments, Onecoin,&nbsp;AirBit Club, MMM, TwoBitcoin, ZarFund</span>, entre otras.</p>



            <p class="font_7" style="text-align:justify;"><span style="font-weight:bold;">Bitcoin Suramérica SAS</span> NO ofrece servicios bancarios NI servicios financieros,&nbsp;NO ofrece rentabilidad, ganancias, comisiones, uilidades ni dividendos de ningún tipo, NO ofrece vehículos de inversión, NO brinda asesorías de inversión. Únicamente realiza un intercambio comercial de Bitconi por Pesos Colombianos y Visceversa.</p>



            <p class="font_7" style="text-align:justify;">Se aclara y ratifica que <span style="font-weight:bold;">Bitcoin Suramérica SAS</span> <span style="font-weight:bold;">NO </span>tiene ningún tipo de relación o vínculo con ningún proyecto aparte de los presentados en la sección de Proyectos.</p>



            <p class="font_7" style="text-align:justify;">El uso, manejo, destino e intención que cada persona le de a sus Bitcoins es responsabilidad única y exclusiva de cada quien.</p>



            <p class="font_7" style="text-align:justify;">Todas las decisiones de compra, inversión y trading deberán ser tomadas independientemente por cada usuario.</p>



            <p class="font_7" style="text-align:justify;">Se hace del conocimiento público que por el momento no existe regulación ni fiscal ni tributaria alguna que sea aplicable a las divisas digitales, por lo que no podemos orientarle respecto del carácter tributario de los mismos. Es su responsabilidad consultar con un profesional calificado cómo debe hacer el tratamiento fiscal de sus divisas digitales.</p>
        </div>



        <div class="bot">

            <p>Nuestro equipo de soporte estará pendiente de sus solicitudes las 24 horas del día, para solucionar inconvenientes o inquietudes que puedan tener ya sea en la compra o venta de nuestras criptomonedas
                <br>
            Correo: cryptobuysoporte@gmail.com</p>
            <p>Celular: 3104643777</p>

        </div>



    </body>
</html>
